body {
    background-color: #000; /* Black background for the entire page */
    color: #fff; /* White text color for the entire page */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    background-color: #ccc; /* Light grey background for the container */
    border-radius: 8px;
    width: 45%; /* Condense the width to 45% */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 20px auto; /* Center the container with auto margins */
    color: #000; /* Black text color for the container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444; /* Darker grey background for the logo-nav container */
    padding: 10px;
    border-radius: 8px;
}

.logo img {
    max-height: 50px;
}

.nav-links a {
    color: #000; /* Black text color for links */
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #000; /* Black text color for headings */
}

.form-section {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
}

form div input,
form div select,
form div textarea {
    background-color: #fff; /* White background for input elements */
    color: #000; /* Black text color for input elements */
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
    background-color: #555; /* Dark grey background for the button */
    color: #fff; /* White text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777; /* Lighter grey on hover */
}

#other-year-container {
    margin-top: 10px;
}

.form-container {
    background-color: #fff; /* White background for form containers */
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 5px;
    max-width: 400px;
    width: 100%; /* Full width */
    margin-bottom: 20px;
    color: #000; /* Black text color for form containers */
}







