<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="{% static 'uno_logo.png' %}" alt="UNO logo">
            </div>
            <div class="nav-links">
                <a href="#">Student Data</a>
                <a href="{% url 'student_information' %}">Student Information</a>
                <a href="{% url 'pillars_home' %}">DASH Pillars</a>
                <a href="{% url 'admin_profile' %}">Administration</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <h1>Add Student</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-section">
                <h2>User Information</h2>
                {{ user_form.as_p }}
            </div>
            <div class="form-section">
                <h2>Student Details</h2>
                {{ student_form.as_p }}
                <div id="other-year-container" class="other-year-container">
                    {{ student_form.other_year.label_tag }} {{ student_form.other_year }}
                </div>
            </div>
            <button type="submit">Add Student</button>
        </form>
    </div>
</body>
</html>

